body{
    margin: 0px;
}

.hero, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 32px;
}


#logo{
    font-size: 24px;
    font-weight: 800;
}

ul {
    list-style: none;
    padding: 0px;
    display: flex;
    gap: 24px;
}



.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap:8px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.hero-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;

}

.hero-content > h1 {
    font-size: 48px;
    font-weight:900;
    display: inline-block;
    margin: 16px;
}

.hero-content-left{
    flex: 1;
    max-width: 600px;

}


.hero-content-left > button{
    background-color: #3882F6;
    font-weight: 800;
    font-size: 18px;
    width: 160px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 12px;
}

.hero-content-left > p {
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.title {
    padding: 48px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    text-align: center;
}

.mid-container {
    display: flex;
    justify-content: center;
    gap: 72px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.info > img{
    flex: 1 1 auto;
    border: 3px solid #3882F6;
    padding: 8px;
    border-radius: 12px;
    width: 150px;
    height: 150px;
}

.info {
    flex: 1 0 auto;
    width: 150px;
    height: auto;
    max-width: 172px;
}

.text {
    display: flex;
    color: #1F2937;
    justify-content: center;
}

.quote{
    background-color: #E5E7EB;
    padding: 100px;
}

.quote .text{
    font-size: 36px;
    font-style: italic;
    font-weight:300;
    color: #1F2937;
}

.author {
    text-align: right;
    font-size: 24px;
    font-weight: 800;
    padding-top: 16px;
    
}

.footer{
    display: flex;
    justify-content: center;
}
